#col-space
{
width:2%;
}

hr
{
margin-top:10px;
margin-bottom:10px;
}

.scroll-right{
height:620px; overflow-y:scroll;
overflow:scroll;
}

.scroll-right:hover {
  overflow: scroll;
}
        
.scroll-left{
 height:620px; overflow-y:scroll;
 overflow:hidden;
}

.scroll-left:hover {
  overflow: auto;
}

.jumbotron{
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
 margin-bottom: 10px
}

#st_mixer_path1,#st_platform_info1{
 font-family:courier;
 padding-left: 5px;
 padding-right: 5px;
}

#aanc_logs,#anc-headphones,#speaker-and-anc-headphones,
#anc-fb-headphones,#speaker-and-anc-fb-headphones,
#voice-anc-headphones,#voice-anc-fb-headphones,
#aanc-handset-mic,#anc-handset,#aanc_log_8996,#aanc_log_8994,
#aanc_log_fusion4x,#aanc_log_8974,#Ccode
{
 font-family:courier;

}



